.fotka {
    width: 400px;
    float: left;
	border: 8px dashed black;
	border-radius: 1%;
	margin-left:1%;

}

.infar {
    font-size: 20px;
    width: 1200px;
	height: 30%;
    background: lightgray;
    padding: 15px;
    text-align: left;
	margin-left:25%;
	
}

.soc{
	width:5%;
	margin-left: 2%
		
}

.nav {
    display: inline-block;
    border-radius: 15px;
    background: gray;
    padding: 10px;
    text-align: center;
    margin: 10px;
}


img{
	width:100%
}

body{ background: #F2F2F2;}


.but{
	margin-left: 25%;
	color:red;
	width:50%;
	background-color:orange;
	border-radius: 30%;
	text-align:center;
	font-size:30px;
	clear:both;
	
}

.one {
font-size:40px;
color:red
}

.but:hover{
	background-color:#F78181;
}



.





