* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Franklin Gothic Medium";
	font-size:30px;
	background:url(space.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color:white;
	text-shadow: black 0 0 12px;
}
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}
#main {
    grid-area: main;
}
#new-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    border-top: 1px solid blue;
}
#messages-list {
    padding: 5px 0 0 5px;
}
#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 3px solid blue;
    height: 100%;
}

/* new */

#new-message {
    padding: 0px;
    height: 50px;
}


#new-message input {
	color:white;
	font-size:25px;
    font-family: "Franklin Gothic Medium";
    width: 100%;
    height: 100%;
    margin: 0;
    height: 50px;
    padding: 5px;
	
	background:url(space.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}