input[type="text"],input[type="password"]{
 width: 300px;
 height:50px;
 font-size: 18px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 40px;
 
}   

a:hover{
 text-decoration: none;
}   


.Forma{
 width:450px;
 height: 500px;
 background-color: rgba(24, 33, 52, 0.7);
 margin: 250px auto 0 auto;
 text-align: center;
 box-shadow: 0 -5px 0 #3adbfd;
 margin-bottom:400px;
 
}


.Forma img{
 width:120px;
 height:120px;
 margin: -60px 0 30px 0;
 border: 5px solid #1a394f;
 border-radius: 50%;
 box-shadow: 0 -5px 0 #3adbfd;
}    

.dws-submit {
 padding: 13px 30px;
 margin: 5px 0 20px 0;
 font-size: 15px;
 color: #fff;
 background-color: #2ca8c6;
 border: none;
 border-bottom: 4px solid #6ee9fd;
 cursor: pointer;
}    

.dws-submit:hover{
 transition: all 0.5s;
 background: #fff;
 color: #2c536c;
}    



.dws-input::before{
 font-family: "FontAwesome";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding: 10px 0 0 7px;
 color: #2c536c;
} 

.dws-input::before{
 font-family: "FontAwesome";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding: 10px 0 0 7px;
 color: #2c536c;
}
.dws-input:nth-child(2)::before{
content: "\f023";
}   

.dws-input:hover::before{
    color: #319ebc;
    transition: all 0.3s;
}    


.dws-input input:hover{
 box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}     


.social i{
 color: #fff;
 font-size: 20px;
 width: 20px;
 padding: 30px;
}   


.social i:hover{
 background-color: #fff;
 color: #1a394f;
 border-radius: 5px;
 cursor: pointer;
}    


img {
    margin-left: auto;
	margin-right: auto;
    display: inline ;
	width: auto;

}
   
@media only screen and (max-width: 800px) {



input[type="text"],input[type="password"]{
 width: 200px;
 height:50px;
 font-size: 14px;
 margin-bottom: 5px;
 border-radius: 4px;
 padding-left: 40px;
 
}   

a:hover{
 text-decoration: none;
}   


.dws-submit {
 padding: 13px 30px;
 margin: 5px 0 20px 0;
 font-size: 15px;
 color: #fff;
 background-color: #2ca8c6;
 border: none;
 border-bottom: 4px solid #6ee9fd;
 cursor: pointer;
}    

.dws-submit:hover{
 transition: all 0.5s;
 background: #fff;
 color: #2c536c;
}    



.dws-input::before{
 font-family: "FontAwesome";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding: 10px 0 0 7px;
 color: #2c536c;
} 

.dws-input::before{
 font-family: "FontAwesome";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding: 10px 0 0 7px;
 color: #2c536c;
}
.dws-input:nth-child(2)::before{
content: "\f023";
}   

.dws-input:hover::before{
    color: #319ebc;
    transition: all 0.3s;
}    


.dws-input input:hover{
 box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}     


.social i{
 color: #fff;
 font-size: 20px;
 width: 20px;
 padding: 30px;
}   


.social i:hover{
 background-color: #fff;
 color: #1a394f;
 border-radius: 5px;
 cursor: pointer;
}    


img {
    margin-left: auto;
	margin-right: auto;
    display: inline ;
	width: auto;

}

.Forma img{
 width:50px;
 height:50px;
 margin: -20px 0 0 0;
 border: 5px solid #1a394f;
 border-radius: 50%;
 box-shadow: 0 -5px 0 #3adbfd;
}    


.Forma{
 width:230px;
 height: 300px;
 background-color: rgba(24, 33, 52, 0.7);
 margin: 250px auto 0 auto;
 text-align: center;
 box-shadow: 0 -5px 0 #3adbfd;
 margin-bottom:400px;
 
}

}