body {
    background-color: lightgray;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 0;
    margin-top: 150px;
}

.item {

    width: 500px;
    height: auto;

    text-align: justify;
    color: black;
    text-decoration: none;

    margin: 0;
    padding: 0;

}
.bg {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}
p {
    margin: 50px;
    padding: 0;
    font-size: 2em;
}
img {
    width: 500px;
}


@media only screen and (max-width: 900px) {

    .container {
        margin-top: 10px;
        padding: 0;
    }
    .item {

        width: 320px;
        height: auto;

        margin: 0;
        padding: 0;

        text-align: justify;
        color: black;
        text-decoration: none;

    }

    p {
        font-size: 14px;
        margin: 10px;
        padding: 0;
    }

    img {
        display: flex;
        width: 300px;

        margin: 10px;
        padding: 0;
    }

}