p {
font-size:40px;
color:#FFF;
background-color:#F08080;
}


b {
font-size:10px;
color:#000000;
border:solid 1px
 }

 .one {
font-size:50px;
margin-top:-140px;
background-color:white;
border:solid 3px
}

img{
width:50%;
float:left;
border:solid 3px
}
a{
width:30%;
float:left;
}

b{
width:50%;
float:left;
}

footer {
	margin-left:110px;
	width:30%;
	float:bottom;
}