body{
	background:url(../Img/BG.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	font-family:AugustaModern;

}






input[type="text"],input[type="password"],input[type='submit'],input[type='number'],input[type='tel'],input[type='button'] {
 width: 300px;
 height:50px;
 font-size: 18px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 40px;
 
}   

a:hover{
 text-decoration: none;
}   


.Forma{
 width:550px;
 height: 1050px;
 background-color: #122133;
 margin: 100px auto 0 auto;
 text-align: center;
 box-shadow: 0 -5px 0 #B8860B;
 margin-bottom:400px;
 
}


.Forma img{
 width:120px;
 height:120px;
 margin: -60px 0 30px 0;
 border: 5px solid #B8860B;
 border-radius: 50%;
 box-shadow: 0 -5px 0 #B8860B;
}    

.dws-button {
 width:350px;
 padding: 13px 30px;
 margin: 5px 10px 20px 0;
 font-size: 15px;
 color: #fff;
 background-color: #B8860B;
 border: none;
 border-bottom: 4px solid #FF4500;
 cursor: pointer;
}    

.dws-button:hover{
 transition: all 0.5s;
 background: 	#FFA500;
 color: #2c536c;
}    




.dws-input input:hover{
 box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}     

.user-input{
 width: 345px;
 height:50px;
 font-size: 18px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 40px;
}


img {
    margin-left: auto;
	margin-right: auto;
    display: inline ;
	width: auto;

}

.error {
  color: red;
}
.error textarea {
  margin: 3px;
  border: 1px solid red;
}
