
img {
    margin-left: auto;
	margin-right: auto;
    display: block ;
	width: auto;

}



a{
	color:black;
	text-decoration:none;
}


* {
	padding:0;
	margin:0;
}

body{
	background-color:black;
}


.body {
    font-size: 20px	;
    padding: 0 10px;
}



.header{	
	padding:10px;		
	color: #fff;
	background-color: red;
}
	
.header__section{
	display:flex;
	align-items:center;
	background-color: red;
	justify-content:space-between;	
}

.header__item{
	padding:10px 15px;
	font-size:30px;
	margin-left:5px;
}

.header__item:hover{
	background-color:yellow;
	border-radius:4px
}
.headerlogo{
	font-size:50px;
	font-weight: bold;
	color: Indigo;
}
.headButton{
	cursor:pointer;
}


.telo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.bl1 {
	display:flex;
	width:100%;
    background: red; 
    text-align: center;
	font-size: 80px;
	justify-content:center;
	border: 2px solid ;
  }
  
 .block2 {
    width: 500px;
    height: 500px;

    margin-top: 50px;
    margin-bottom: 50px;

    background-color: red;
    text-align: center;
    text-decoration: none;

  }



@media only screen and (max-width: 500px) {
.header{
	display:flex;
	justify-content:space-between;
	padding:10px;		
	color: #fff;
	flex-flow: row wrap;
	background-color: red;
}
	
.header__section{
	display:flex;
	align-items:center;
	background-color: red;

	flex-flow: row wrap;	
}

.header__item{
	padding:10px 15px;
	font-size:30px;
	margin-left:5px;
}

.header__item:hover{
	background-color:yellow;
	border-radius:4px
}
.headerlogo{
	font-size:50px;
	font-weight: bold;
	color: Indigo;
}
.headButton{
	cursor:pointer;
}

.telo{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
	padding: 0;
	margin: 0;
}

.bl1 {
	display:flex;
	width:100%;
    background: red; 
    text-align: center;
	font-size: 80px;
	justify-content:center;
	border: 2px solid ;
  }
  
 .block2 {
    display: flex;
    flex-flow: row nowrap;

    width: 350px;
    height: 200px;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: red;

    padding: 0;

    justify-content: space-between;
    align-content: space-between;
	text-align:center;

  }
img {
    height: 200px;
    width: 140px;
    padding: 0;
    margin: 0;
    }
.body {
        font-size: 9px;
        padding: 0;
        margin: 0;
    }
	
	
}